<html>
  <body>
    <form method="post" action="/new">
      <h1></h1>
      <label
        >Authors Name
        <input type="text" />
      </label>
      <label>
        Message Text
        <input type="text" />
      </label>
      <button>Submit</button>
    </form>
  </body>
</html>
