<html>
  <body>
    <form method="post" action="/new">
      <h1></h1>
      <label for="authorsName"
        >Authors Name
        <input type="text" name="authorsName" />
      </label>
      <label for="messageText">
        Message Text
        <input type="text" name="messageText" />
      </label>
      <button>Submit</button>
    </form>
  </body>
</html>
