<html>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach((message) => { %>
    <div><%= message.user %></div>
    <div><%= message.text %></div>
    <div><%= message.added %></div>
    <% }) %>
  </body>
</html>
